@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --black: #000000;
  --transparent: rgba(0, 0, 0, 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: #878787;
  --color-primary: #ffc107;
  --color-primary-foreground: #090e17;
  --color-secondary: #475467;
  --color-accent: #07ffb1;
  --color-neutral: #1f2937;
  --color-background: #090e17;
  --color-surface: color-mix(in srgb, var(--color-background) 92%, white 8%);
  --color-border: #1a1a1a;
  --color-ring: var(--color-primary);

  --font-sans: var(--font-inter);
  --font-display: var(--font-poppins);

  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }
    to {
      background-position: 350% 50%, 350% 50%;
    }
  }

  --animate-slide-up: slideUp 0.3s cubic-bezier(0.87, 0, 0.13, 1);
  --animate-slide-down: slideDown 0.3s cubic-bezier(0.87, 0, 0.13, 1);
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes slideUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }

  strong {
    font-weight: 500;
  }
}
