@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --black: #000000;
  --transparent: rgba(0, 0, 0, 0);
}

@theme inline {
  --color-background: #090e17;
  --color-foreground: var(--foreground);
  --color-muted: #999999;
  --color-primary-dark: #e3ab00;
  --color-primary: #ffc107;
  --color-primary-light: #ffdb6b;
  --color-primary-lighter: #ffe6ad;
  --color-primary-foreground: #090e17;
  --color-secondary: #475467;
  --color-accent-light: #34d7f0;
  --color-accent: #16d1ee;
  --color-accent-dark: #0f8c9e;
  --color-accent-darker: #0b6573;
  --color-accent-foreground: #090e17;
  --color-neutral: #1f2937;
  --color-card: #101111;
  --color-border: #1a1a1a;
  --color-ring: var(--color-primary);

  --breakpoint-sms: 540px;
  --breakpoint-mdx: 940px;

  --font-sans: var(--font-inter);
  --font-display: var(--font-poppins);

  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }

  --animate-accordion-up: accordionUp 0.3s cubic-bezier(0.87, 0, 0.13, 1);
  --animate-accordion-down: accordionDown 0.3s cubic-bezier(0.87, 0, 0.13, 1);
  @keyframes accordionDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordionUp {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }

  --animate-collapsible-up: collapsibleUp 0.3s cubic-bezier(0.87, 0, 0.13, 1);
  --animate-collapsible-down: collapsibleDown 0.3s
    cubic-bezier(0.87, 0, 0.13, 1);
  @keyframes collapsibleDown {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsibleUp {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }

  --animate-fade-in: fadeIn 0.3s;
  --animate-fade-out: fadeOut 0.3s;
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  --animate-dialog-in: dialogIn 0.3s;
  --animate-dialog-out: dialogOut 0.3s;
  @keyframes dialogOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }
  @keyframes dialogIn {
    from {
      opacity: 0;
      transform: scale(0.95) translateY(100px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 86px;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }

  strong {
    font-weight: 500;
  }
}
